<div class="nested-fields row mb-2">
  <%= f.text_field :name, placeholder: "材料", class: "col-md-3 mr-2 form-control"%>
  <%= f.text_field :quantity, placeholder: "分量", class: "col-md-3 mr-2 form-control" %>
</div>