<div class="nested-fields">
  <%= f.number_field :step, min:1, value: 1 %>
  <%= f.file_field :step_image, accept: "image/*", class:"step-img" %>
  <%= f.text_area :description, placeholder: " 説明(60字以内)" %>
  <%= link_to_remove_association "削除", f, class:"ingredient-delete-btn" %>
</div>