フォロー一覧
<table class="table">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td><%= user.nick_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>