/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-size: 62.5%;
  }

  h1{
    font-size: 5rem;
    }

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.5rem;
  }

 body {
  background-color: #efeff0;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

input, textarea{
  outline: none;
}

 .notice {
   color: green;
 }

 .alert {
   color: red;
 }

// エラーメッセ表示時、レイアウト崩れ防止
 .field_with_errors {
  display: contents;
}

.brand-logo {
  font-family: 'Caveat', cursive;
  font-size: 6rem;
}

// サインアップ画面
.sign-up {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 4rem auto;
  width: 85rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #F9F9FA;

  h2 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .sign-table {
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
  .table-head, .table-body, .table-head-last-name, .table-head-first-name, .table-body-last-name, .table-body-first-name {
    font-size: 1.5rem;
    padding: 1.2rem;
  }


  input#user_last_name, input#user_first_name, input#user_last_name_kana, input#user_first_name_kana {
    width: 15rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F9F9FA;
  }

  input {
    width: 24rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F9F9FA;
  }

  .sign-btn {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #60AB9A;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 3rem 0 0 25rem;
    font-size: 1.6rem;
    border-radius: 100vh;
    border: none;
  }
}
// ログイン画面
.sign {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 4rem auto;
  width: 40rem;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #F9F9FA;
  h2 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .sign-table {
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
  .table-head, .table-body {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .table-head {
    width: 30%;
  }
  .table-body {
    width: 70%;
  }
  input {
    width: 20rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F9F9FA;
  }

  .sign-btn {
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #60AB9A;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 3rem auto;
    font-size: 1.6rem;
    border-radius: 100vh;
    border: none;
  }
}

// トップ画面
.top {
  background: linear-gradient(to bottom, #efeff0 0%, #efeff0 40%, #cbd2c6 50%, #cbd2c6 100%);
}

.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.title h1 {
  font-family: 'Caveat', cursive;
  font-size: 7rem;
}

.top-under .recipes {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes img {
  padding: 10px;
  height: 200px;
  width: 200px;
}

// レシピ詳細画面

.recipe-about {
  border: 2px solid #d9d7dd;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem 0;
  position: relative;
  h2 {
    margin: 1rem;
  }
}

.recipe-about .favorite-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.recipe-detail {
  margin: 30px;
}

.recipe-detail .table {
  font-size: 1.2rem;
}

.recipe-steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  img {
    margin: 1rem;
  }
}

.recipe-step {
  width: 130px;
  margin: 10px;
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.6rem;
    }
}

.recipe-tag {
  display: flex;
  p {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #1558d6;
  }
}

.comment_form {
  margin: 10px;
}

// レシピ一覧画面
.recipe-index {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  margin: 1rem;
  border: solid 0.5px #000000;
  border-radius: 4px;
}

.recipe-up {
  border-radius: 4px;
  background-color: #FEFEFF;
  padding: 0.5rem;
  span {
    font-size: 1.2rem;
  }
}

.recipe-under {
  border-radius: 4px;
  background-color: #FEFEFF;
  padding: 0.5rem;
  h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #6B8E23;
  }
  p {
    font-size: 1.2rem;
    color: #555555;
  }
  .i-size {
    font-size: 2rem;
  }
  span {
    font-size: 1.3rem;
    color: #555555;
    padding: 0 0.5rem;
  }
}


// 検索画面

table td {
  font-size: 1.5rem;
}

.include-recipes p {
  font-size: 1.2rem;
  color: #808080;
}