/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  font-size: 62.5%;
  }

  h1{
    font-size: 5rem;
    }

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.5rem;
  }

 body {
  background-color: #efeff0;
 }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

 .notice {
   color: green;
 }

// エラーメッセ表示時、レイアウト崩れ防止
 .field_with_errors {
  display: contents;
}

.brand-logo {
  font-family: 'Caveat', cursive;
  font-size: 6rem;
}

// トップ画面
.top {
  background: linear-gradient(to bottom, #efeff0 0%, #efeff0 40%, #cbd2c6 50%, #cbd2c6 100%);
}

.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.title h1 {
  font-family: 'Caveat', cursive;
  font-size: 7rem;
}

.top-under .recipes {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes img {
  padding: 10px;
  height: 200px;
  width: 200px;
}

// レシピ詳細画面

.recipe-about {
  border: 2px solid #d9d7dd;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem 0;
  position: relative;
  h2 {
    margin: 1rem;
  }
}

.recipe-about .favorite-btn {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.recipe-detail {
  margin: 30px;
}

.recipe-detail .table {
  font-size: 1.2rem;
}

.recipe-steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  img {
    margin: 1rem;
  }
}

.recipe-step {
  width: 130px;
  margin: 10px;
  span {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.6rem;
    }
}

.recipe-tag {
  display: flex;
  p {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #1558d6;
  }
}

.comment_form {
  margin: 10px;
}

// レシピ一覧画面

.recipe-list {
  border: 1px solid #AEACAC;
  border-radius: 5px;
  margin: 1.5rem;
  padding-bottom: 1rem;
  background-color: white;
}

.recipe-list .favorite-btn {
  margin-left: 1rem;
  display: flex;
}

.recipe-title {
  margin-left: 1rem;
}

.recipe-image img {
  height: 60rem;
  width: 100%;
}

.recipe-user {
  padding: 1rem;

  span {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.recipe-image {
  margin-bottom: 1rem;
}

// 検索画面

table td {
  font-size: 1.5rem;
}

